@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yoiv04');
  src:  url('fonts/icomoon.eot?yoiv04#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yoiv04') format('truetype'),
    url('fonts/icomoon.woff?yoiv04') format('woff'),
    url('fonts/icomoon.svg?yoiv04#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backRoute:before {
  content: "\e900";
}
.icon-search:before {
  content: "\e92d";
}
.icon-close:before {
  content: "\e92e";
}
.icon-wineries:before {
  content: "\e92f";
}
.icon-brands:before {
  content: "\e930";
}
.icon-categories:before {
  content: "\e931";
}
.icon-product:before {
  content: "\e932";
}
.icon-inventory-entries:before {
  content: "\e933";
}
.icon-inventory-adjust:before {
  content: "\e934";
}
.icon-persons:before {
  content: "\e935";
}
.icon-tages:before {
  content: "\e936";
}
.icon-type-document:before {
  content: "\e937";
}
.icon-unit-extent:before {
  content: "\e938";
}
.icon-type-labors:before {
  content: "\e939";
}
.icon-create-estate:before {
  content: "\e93a";
}
.icon-lots:before {
  content: "\e93b";
}
.icon-eps:before {
  content: "\e93c";
}
.icon-type-money:before {
  content: "\e93d";
}
.icon-home:before {
  content: "\e93e";
}
.icon-inventory:before {
  content: "\e93f";
}
.icon-cost:before {
  content: "\e940";
}
.icon-transformation:before {
  content: "\e941";
}
.icon-order:before {
  content: "\e942";
}
.icon-report:before {
  content: "\e943";
}
.icon-maintenance:before {
  content: "\e944";
}
.icon-system:before {
  content: "\e945";
}
.icon-check:before {
  content: "\e946";
}
