@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?ok4c3d");
  src: url("fonts/icomoon.eot?ok4c3d#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?ok4c3d") format("truetype"),
    url("fonts/icomoon.woff?ok4c3d") format("woff"),
    url("fonts/icomoon.svg?ok4c3d#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-wineries:before {
  content: "\e902";
}
.icon-brands:before {
  content: "\e903";
}
.icon-categories:before {
  content: "\e904";
}
.icon-product:before {
  content: "\e905";
}
.icon-inventory-entries:before {
  content: "\e906";
}
.icon-inventory-adjust:before {
  content: "\e907";
}
.icon-persons:before {
  content: "\e908";
}
.icon-tages:before {
  content: "\e909";
}
.icon-type-document:before {
  content: "\e90a";
}
.icon-unit-extent:before {
  content: "\e90b";
}
.icon-type-labors:before {
  content: "\e90c";
}
.icon-create-estate:before {
  content: "\e90d";
}
.icon-lots:before {
  content: "\e90e";
}
.icon-eps:before {
  content: "\e90f";
}
.icon-type-money:before {
  content: "\e910";
}
.icon-home:before {
  content: "\e911";
}
.icon-inventory:before {
  content: "\e912";
}
.icon-cost:before {
  content: "\e913";
}
.icon-transformation:before {
  content: "\e914";
}
.icon-order:before {
  content: "\e915";
}
.icon-report:before {
  content: "\e916";
}
.icon-maintenance:before {
  content: "\e917";
}
.icon-system:before {
  content: "\e918";
}
.icon-check:before {
  content: "\e919";
}
