@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8821p1');
  src:  url('fonts/icomoon.eot?8821p1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8821p1') format('truetype'),
    url('fonts/icomoon.woff?8821p1') format('woff'),
    url('fonts/icomoon.svg?8821p1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-unit-extent:before {
  content: "\e903";
}
.icon-persons:before {
  content: "\e900";
}
.icon-tages:before {
  content: "\e901";
}
.icon-type-document:before {
  content: "\e902";
}
.icon-type-labors:before {
  content: "\e905";
}
.icon-create-estate:before {
  content: "\e906";
}
.icon-lots:before {
  content: "\e907";
}
.icon-type-money:before {
  content: "\e909";
}
.icon-eps:before {
  content: "\e908";
}
.icon-home:before {
  content: "\e90a";
}
.icon-inventory:before {
  content: "\e90b";
}
.icon-cost:before {
  content: "\e90c";
}
.icon-transformation:before {
  content: "\e90d";
}
.icon-order:before {
  content: "\e90e";
}
.icon-report:before {
  content: "\e90f";
}
.icon-maintenance:before {
  content: "\e910";
}
.icon-system:before {
  content: "\e911";
}
